h1 {
  font-family: 'Courgette', cursive;
  font-size: 85px;
  color: #CC9B6D;
  word-wrap: break-word;
  font-style: oblique;
}

h2 {
  font-family: 'Courgette', cursive;
}

h3 {
  font-family: 'Beau Rivage', cursive;
  color: #283148;
  ;
  font-size: 45px;
}

body {
  text-align: center;
  margin: auto;
  padding: 10px;
}



div {}

a:link, a:visited {
  background-color: #F6F6F6;
  color: blue;
  padding: 5px 5px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
}

div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

table {
  padding: 100px;
}

.container {
  position: relative;
  max-width: 100%;
  /* Maximum width */
  margin: 0;
  /* Center it */
}

.container .content {
  position: absolute;
  /* Position the background text */
  bottom: 0;
  /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0);
  /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  /* Grey text */
  width: 100%;
  /* Full width */
  padding: 0;
  /* Some padding */
  margin: 0;
}

.intro {
  font-family: 'Beau Rivage', cursive;
  color: #283148;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.first_div, .second_div, .third_div,
.fourth_div, .fifth_div, .sixth_div {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  border: 0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}



.first_div {
  background-color: #F8EDE3;
}

.float_parent {}

.float_child>img {
  height: 400px;
  border-radius: 10px;
}

.float_child {
  float: left;
  width: 50%;
}

.second_div {
  background-color: #F8F5F1;
}

.third_div {
  background-color: #EAE3C8;
}

.fourth_div {
  background-color: #F5F4F4;
}

.elevator_image {
  position: relative;
  left: 70px;
}

.apartment_8_img {
  position: relative;
  left: 70px;
}

.fifth_div {
  background-color: #FFEADB;
}

.sixth_div {
  background-color: #FEF7DC;
}

.footer {}
