h1 {font-family: 'Courgette', cursive;
font-size: 50px;
  color: #CC9B6D;}

  h2 {font-family: 'Courgette', cursive;}

  h3 {font-family: 'Merriweather', serif;
color:#F0A500}

div {white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;}

p {font-family: 'Yanone Kaffeesatz', sans-serif;}
  img {
    max-width: 100%;
    height: auto;
}

table {padding: 100px;}

.container {
  position: relative;
  max-width: 100%; /* Maximum width */
  margin: 0; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 0; /* Some padding */
  margin: 0;
}

.first_div {background-color: #F8EDE3;
margin: 0;
padding: 0;
border: 0;}

.second_div {background-color: #F8F5F1;
  margin: 0;
padding: 0;
border: 0;}

.third_div {background-color: #EAE3C8;
  margin: 0;
padding: 0;
border: 0;}

.fourth_div {background-color: #F5F4F4;
  margin: 0;
padding: 0;
border: 0;}

.elevator_image {position: relative;
left: 70px;}

.apartment_8_img {position: relative;
left: 70px;}

.fifth_div {background-color: #FFEADB;
  margin: 0;
padding: 0;
border: 0;}

.sixth_div {background-color: #FEF7DC;
  margin: 0;
  padding: 0;
  border: 0;}
